{% extends 'base.html' %}

{% block content %}


<h1> Noticias </h1>

<ul>
{% for board in object_list %}

  <!-- Forum List -->
  
  <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
    <div class="card mb-2">
        <div class="card-body p-2 p-sm-3">
            <div class="media forum-item">
                <a href="{% url 'board-panel' board.pk %}"> {{ board.name }}</a>
                
                <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" width="50" alt="User" /></a>

                <div class="media-body">
                    
                    
                    <p class="text-secondary">
                        {{ board.description }}
                    </p>

                    <p class="text-secondary">
                        {{ board.adminPost}}
                    </p>
                    {{ board.tag}}
                    <button class="btn btn-dark"> <a href="{% url 'update-board' board.pk %}"> Edit</a></button>
                    <button class="btn btn-dark"> <a href="{% url 'delete-board' board.pk %}"> Delete</a></button>

                    <h6><a href="#" data-toggle="collapse" data-target=".forum-content" class="text-body"> <p>ID de post: {{ board.pk }} </p></a></h6>
                  
                </div>
               
            </div>
        </div>
    </div>
    </div>
    
<!-- /Forum List -->




{% endfor %}
</ul>

<button> <a href="{% url 'create-board' %}"> create a board </a> </button>

{% endblock %}