{% extends 'base.html' %}

{% block content %}

<br>
<h1> Noticias </h1>
<h6>Cine, espectáculos y más. Todo el bum-bum del séptimo arte, aquí.</h6>

<ul>
{% for board in object_list %}


  <!-- Forum List -->
  
  <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
    <div class="card mb-2">
        <div class="card-body p-2 p-sm-3">
            <div class="media forum-item">


                <a href="{% url 'board-panel' board.pk %}"> {{ board.name }}</a>
                

                <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" width="50" alt="User" /></a>

                <div class="media-body">
                    
                    
                    <p class="text-secondary">
                        <img src="{{ board.image.url }}" >
                        <br></br>
                        {{ board.description }}
                    </p>

                    <!--<p class="text-secondary">
                        {{ board.adminPost}}
                    </p>-->
                    {{ board.tag}}

                  <!--diseño de botones-->

                    <button type="button" class="btn btn-outline-primary"> <a href="{% url 'update-board' board.pk %}" style="text-decoration:none"> Editar </a></button>
                    <button type="button" class="btn btn-outline-danger"> <a href="{% url 'delete-board' board.pk %}" style="text-decoration:none"> Eliminar </a></button>


                    <h6><a href="#" data-toggle="collapse" data-target=".forum-content" class="text-body"> <p>ID de post: {{ board.pk }} </p></a></h6>
                  
                </div>
               
            </div>
        </div>
    </div>
    </div>
    
<!-- /Forum List -->

{% endfor %}
</ul>

<button type="button" class="btn btn-outline-success"> <a href="{% url 'create-board' %}"> Crea un nuevo tema </a> </button>

{% endblock %}